html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
body {
    font-family: "Roboto";
    color: #2f303a;
    font-size: 14px;
    letter-spacing: 0.03em;
  }

img {
  display: block;
  max-width: 100%;
  height: auto;
}
